.gitignore
/ResidualRWV1
/TempFiles
/.venv
/SensoraCore/SC_DesktopApp/Main/__pycache__
__pycache__/
*.pyc
/SensoraCore/Compilador/.venv
/SensoraCore/Compilador/build
/SensoraCore/Compilador/Versiones
/SensoraCore/Compilador/spec